h1{
    color: rgb(0, 0, 5);
    background-color: aliceblue;
    text-align: center;
    
}

P{
    font-size: 20px;
}

#bolinha{
    height: 100px; /* altura */
    width: 100px; /* comprimento */
    background-color: black;
    border-radius: 100%;
     margin: 0 auto; 
    
}

#faixa{
    height: 200px;
    width: auto;
    border: 1px solid black; /* espessura, tipo e cor */
    


}

